body {
	font-size:16px;
}
p {font-size:16px;}
table#tb tr.tb_header {
border:1px solid #000000;
background:#d6d6d6;
color:#000000;
font-weight:bold;
font-size:16px;
}
table#tb tr td { border:1px solid #000000; }
.td_totlal {  }
th {font-size:16px;}
.box {
width:20px;
height:20px;
border:1px solid #000000
}
.pay {
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}